.image, figcaption{
  font-style: italic;
  margin-top: -2rem;
  font-size: 17px;
}

.imagelink {
  transition: .5s ease;
}
.imagelink:hover  {
  opacity: 0.5;
}


.avatar {
	max-width: 100%
}

#testimonials {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

.contact_text{
  padding: 3%;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}




input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #fdcc52;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/*-------------------------------*/
/*    GAMES   */
/*-------------------------------*/


* {
  box-sizing: border-box;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  padding-top: 60px;
  padding-bottom: 15px;
}

.games {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.games.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.activeClass {
  background-color: #666;
  color: white;
}

.card p{
  font-size: 14px;
}


#disqus {
  background: #afafaf;
}





/*  767px wide or less */
@media only screen and (max-width: 767px), screen and (min-width: 989px)  {
  #page-top-game {
  padding-top: 50px; 
}
}


/* No greater than 989px, no less than 767px */
@media  (max-width: 989px) and (min-width: 767px) {
  #page-top-game {
  padding-top: 90px; 
}
}


#myBtnContainer {
  z-index: 1000
}

#mainNav {
  z-index: 1001
}



