<section id="games" class="games">
      <h2 class="text-center">Games</h2>

      <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h3>Discover what all this buzz is about...</h3>
                    <br>

                    <h2>Experiential learning and gamification!</h2>
                    <br>
                    <p>I apply games to transform complex educational content into engaging, immersive learning experiences - no more boring grammar coursebooks and starting to talk 'when you're ready'. Games give you an amazing opportunity to role play in new contexts and implement new skills on-the-job, make mistakes in a safe environment, practice, have fun and learn some more. So stop wasting your time on learning from books for children or language apps and learn with a personalised curriculum playing language puzzles and improvisation games and assisted by a qualified teacher! </p>
                    <br>
                </div>
            </div>
        </div>



      <hr>
      <div id="myBtnContainer" class="sticky">
        {% if site.classActive %}
        <button class="btn activeClass" onclick="filterSelection('all')">All</button>
        {% for class in site.class %}
        {% if class.active %}
        <button class="btn" onclick="filterSelection('{{ class.name }}')"> {{ class.name }}</button>     
        {% endif %}
        {% endfor %}
        {% endif %}
      </div> 


      <div class="row">
        {% for game in site.categories.games %}
        {% if game.active %}
        <div class="column {{ game.class }}">
          <div class="content">
            <img src="/{{ game.header-img | prepend: site.baseurl }}" alt="Mountains" style="width:100%">
            <h4>{{ game.title }}</h4>
            <p>{{ game.description }}</p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
 
</div>
</section>














