<section id="games" class="games">
      <h2 class="text-center">Games</h2>
      <hr>
      <div id="myBtnContainer" class="sticky">
        {% if site.classActive %}
        <button class="btn activeClass" onclick="filterSelection('all')">All</button>
        {% for class in site.class %}
        {% if class.active %}
        <button class="btn" onclick="filterSelection('{{ class.name }}')"> {{ class.name }}</button>     
        {% endif %}
        {% endfor %}
        {% endif %}
      </div> 


      <div class="row">
        {% for game in site.categories.games %}
        {% if game.active %}
        <div class="column {{ game.class }}">
          <div class="content">
            <img src="/{{ game.header-img | prepend: site.baseurl }}" alt="Mountains" style="width:100%">
            <h4>{{ game.title }}</h4>
            <p>{{ game.description }}</p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
 
</div>
</section>














