

<div class="col-lg-12 col-md-12 text-left">
   <p><i class="fa fa-2x fa-sort-amount-asc fa-fw wow bounceIn text-primary" aria-hidden="true"></i>&nbsp; Language level: {{page.languagelevel}}</p>

   <p><i class="fa fa-2x fa-commenting-o fa-fw wow bounceIn text-primary" aria-hidden="true"></i>&nbsp; Vocabulary: {{page.vocabulary}} </p>

   <p><i class="fa fa-2x fa-cubes fa-fw wow bounceIn text-primary" aria-hidden="true"></i>&nbsp; Game type: {{page.gametype}} </p>

    <p><i class="fa fa-2x fa-child fa-fw wow bounceIn text-primary" aria-hidden="true"></i>&nbsp; Number of players: {{page.numberplayers}}</p>

    <p><i class="fa fa-2x fa-hourglass-start fa-fw wow bounceIn text-primary" aria-hidden="true"></i>&nbsp; Game time: {{page.gametime}}</p>

    
   <p><i class="fa fa-2x fa-info fa-fw wow bounceIn text-primary" aria-hidden="true"></i>&nbsp; <a href="/pdf/Games_vocabulary.pdf" target="_blank">Gaming vocabulary in Polish - a FREE pdf</a> </p>

   <p><i class="fa fa-2x fa-map fa-fw wow bounceIn text-primary" aria-hidden="true"></i>&nbsp; <a href="{{page.rules}}" target="_blank">Game instruction in Polish - a FREE pdf</a> </p>
   <br>

   <p><a href="http://{{page.buylink}}" class="btn btn-outline btn-xl" target="_blank">Buy this game on amazon.nl</a></p>

</div>

