
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h3>Discover what all this buzz is about...</h3>
                        <br>
                        <br>
                        <br>
                        <h2>Experiential learning and gamification!</h2>
                        <br>
                        <p>
I apply games to transform complex educational content into engaging, immersive learning experiences - no more boring grammar coursebooks and starting to talk 'when you're ready'. Games give you an amazing opportunity to role play in new contexts and implement new skills on-the-job, make mistakes in a safe environment, practice, have fun and learn some more. 
<br>
<br>
<p> So stop wasting your time on learning from books for children or language apps and learn through language puzzles, improvisation and experimenting with alternative communication channels - I’m sure you’ve never tried a language course like this! You are going to love it and you are going to see fast results. And in the moments of doubt I will support you with a learning mentoring session helping you evaluate your learning process and suggesting valuable improvements.</p> </p>
<br>
<br>
<br>
<br>
<h2>About me</h2>

                        <hr>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="container avatar">
                        <img class="avatar" src="/img/ja.jpg" class="img-responsive" alt="">
                        <h3> Monika Zatylny </h3>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                            <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-graduation text-primary"></i>
                                    <h3>MA in Linguistics</h3>
                                    <p class="text-muted">Getting involved in the learning process through multiple communication chanells</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-bubbles text-primary"></i>
                                    <h3>Speech therapy</h3>
                                    <p class="text-muted">Learning by immersion in new experiences for a real perspective change</p>
                                </div>
                            </div>
                                <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-calendar text-primary"></i>
                                    <h3>15 years of experience</h3>
                                    <p class="text-muted">Learning on-the-job and immediately using new skills in action</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-support text-primary"></i>
                                    <h3>Dyslexia</h3>
                                    <p class="text-muted">No more overanalysing and dry theory, the world of knowledge is exciting!</p>
                                </div>
                            </div>
                   
                       
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-speedometer text-primary"></i>
                                    <h3>6 languages</h3>
                                    <p class="text-muted">Learning on-the-job and immediately using new skills in action</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-ghost text-primary"></i>
                                    <h3>Improv theatre</h3>
                                    <p class="text-muted">No more overanalysing and dry theory, the world of knowledge is exciting!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                     </div>   
                </div>
            </div>




            
                <div class="col-md-8">
                  <h3>Would you like to give it a try?</h3>
                  <a target="_blank" href="https://m.do.co/c/a29d90274371" style="color:black" class="btn btn-outline btn-xl">Contact me now!</a>  
                </div>

            </div>
    </section>
