<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="section-heading">Waaaaaaait...Did you know I also do</h3>
                <p><h2>Translations and proofreading</p></h2>
                <p><h3>I will help you strike the right chord with your Polish readers by translating and reviewing your texts in the field of IT, marketing, business, finance and humanities. Your text will be professionally transtalted into Polish and proofread by a native speaker to help you effectively communicate with the target audience of your choice.
                    <br>
                    <br>Every translation project is an exciting journey into the world of linguistics and specialised vocabulary, I am looking forward to working on your text!</p></h3>
                <div class="badges">
                    <a style="color:black" class="btn btn-outline btn-xl page-scroll" href="#why">Get a free quote!</a>
                    <a class="btn btn-outline btn-xl page-scroll" href="#portfolio">I'm selfish</a>
                </div>
            </div>
        </div>
    </div>
</section>
