<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Sign up for a free consultation!</h2>
                <p><h3>Maybe you are having a hard time deciding what form of learning would be best for you or you are not sure if I will be able to help in your specific situation? Let's have a call and talk about it, I'll do my best to help!
                   </p></h3>
                <div class="badges">
                    <a style="color:black" class="btn btn-outline btn-xl page-scroll" href="#contact">Get a free call!</a>
                    <a class="btn btn-outline btn-xl page-scroll" href="#portfolio">Don't get a free call ;)</a>
                </div>
            </div>
        </div>
    </div>
</section>
