<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign up for a free consultation!</h2>
                <p><h4>
                   Maybe you are having a hard time deciding what form of learning would be best for you or you are not sure if I will be able to help in your specific situation? Let's have a call and talk about it, I'll do my best to help!
<br>
<br>
I offer <b>a personalised approach</b> to your language-and-education related problems and doubts. It is about listening to <b>your story and rewriting it from a subject-matter-expert perspective</b> to help you understand your situation and take the best decisions.
                   </p></h4>
                <div class="badges">
                    <a class="btn btn-outline btn-xl page-scroll" href="#contact">Check FAQ</a>
                    <a class="btn btn-outline btn-xl page-scroll" href="#portfolio">Get a free call in-take interview</a>
                </div>
            </div>
        </div>
    </div>
</section>



 
 You've been learning the language forever but see no results. The spelling and pronunciation still make no sense to you. You can communicate but often find yourself in awkward social situations, often with your in-laws. You don't want to learn the language but don't know how to say this to your family. You're a parent of a bilingual child and don't know how to help them speak, read and write better. You or your child are dyslexic and you're not sure how to approach this. You were raised bilingual but you're not sure if your Polish is good enough.