<section id="contact" class="cta">
    <div class="cta-content">
        <div class="container">
              <h2 class="section-heading text-center">Contact</h2>
      


            <h4>Here is a contact form<br>Would you like to start your adventure?</h4>




   
    <div class="col-md-6">
    <form class="contact" action="https://formspree.io/f/xoqpbzez" method="post">
    <h3 for="fname">Name</h3>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <h3 for="lname">Email</h3>
    <input type="text" id="email" name="_replyto" placeholder="example@email.com">
    
    <h3 for="lname">Phone</h3>
    <input type="text" id="phone" placeholder="06123456789">

    
    <h3 for="message">Message</h3>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>

   




</div>
</div>
</div>





</section>
