<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <br>
                        <br>
                        <h1><center>If you've always thought Polish was impossible to learn, it's time to change your mind.</center></h1>
                        <br>
                        <br>
                            <br><h2>My skillfully tailored language courses will help you untangle the infamous Polish grammar, improve your pronunciation, spelling and communication skills and teach you how to learn languages effectively. 
                                <br>And it will be a lot of fun!
                        </h2>
                        <br>
                        <br>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">I want to start learning!</a>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
</header>
