<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2>We apply games to transform complex educational content into engaging, immersive learning experiences.
                            <br>This is the 21st century's answer to standard forms of training and learning.
                            <br>We just love playing. </h2>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Play with us!</a>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
</header>
