<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="header-content">
                    <div class="header-content-inner">                       
                       <!--  <img class="avatar" src="/img/bart-polish.png" class="img-responsive" alt=""> -->
                        <a href="#contact" class="btn btn-outline btn-xl page-scroll">I want to start learning Polish!</a>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
</header>
