<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background: #7b7b7b;">
    <div class="container" style="background: #7b7b7b;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">Polish Lessons Amsterdam</a>
        </div>

        
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
