<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My services - now also online!</h2>
                <p>My skillfully tailored language courses will help you untangle the infamous Polish grammar, improve your pronunciation, spelling and communication skills and teach you how to learn languages effectively. Contact me now to get a free offer customised to your needs!</p>
            
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>Individual classes</h3>
                    <p class="text-muted">For 1-2 students, tailored to your personal needs and expectations. A great way to get you started and master the basics in no time. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Group classes</h3> 
                    <p class="text-muted">For 3-6 students, full of games and language puzzles adjusted to your level. Become a language detective and learn by doing.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Polish for couples</h3>
                    <p class="text-muted">For mixed-language couples. Your guide to learning Polish together at home without frustration - teraz mówimy po polsku! </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Coaching</h3>
                    <p class="text-muted">Educational coaching sessions that are a great help in resolving your and/or your child’s learning and language related problems.</p>
                </div>
            </div>
        </div>
    </div>
</section>
