{% for testimonial in site.categories.testimonials %}
<!-- Modal -->
<div class="modal fade" id="{{testimonial.unique}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">{{ testimonial.title }}</h2>
        <h5>{{ testimonial.name }}, {{ testimonial.country }}</h5>
        
      </div>
      <div class="modal-body">
        <p>{{testimonial.testimonial1}} <span style="font-weight: bold;">{{testimonial.testimonial2}}</span></p>
        
      </div>
    </div>
  </div>
</div>

{% endfor %}

<section id="testimonials">                 
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Testimonials</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="4000">
                      <!-- Carousel indicators -->
                      <ol class="carousel-indicators">
                            {% assign i = 0 %}
                            {% for testimonial in site.categories.testimonials %}
                                {% if testimonial.active %}
                                <li data-target="#fade-quote-carousel" data-slide-to="{{i}}"></li>
                                {% assign i = i|plus:1 %}
                                {% endif %}
                            {% endfor %}
                      </ol>
                      <!-- Carousel items -->
                        <div class="carousel-inner">
                        {% for testimonial in site.categories.testimonials %}
                            {% if testimonial.active %}
                            <div class="{{testimonial.mainpost}} item">
                                <blockquote>
                                    <p>{{testimonial.testimonial1}}{% if testimonial.testimonial2 %}<a data-toggle="modal" data-target="#{{testimonial.unique}}" href=""> ...Read More</a>{% endif %}</p>
                                    

                                    <p>{{ testimonial.name }}, {{ testimonial.country }}</p>
                                </blockquote>   
                            </div>
                            {% endif %}
                        {% endfor %}
                       </div>           
                    </div>
                </div>                          
            </div>

        </div>
    </div>
</section>