<!-- Button trigger modal -->

{% for testimonial in site.categories.testimonials %}
    <a data-toggle="modal" data-target="#{{testimonial.unique}}" href="">Read More</a>

<!-- Modal -->
<div class="modal fade" id="{{testimonial.unique}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">{{ testimonial.title }}</h2>
        <h5>{{ testimonial.name }}, {{ testimonial.country }}</h5>
        
      </div>
      <div class="modal-body">
        {{testimonial.testimonial1}} {{testimonial.testimonial2}}
      </div>
    </div>
  </div>
</div>

{% endfor %}



